@font-face {
  font-family: "Clash Grotesk";
  src: url("./assets/font/ClashGrotesk/ClashGrotesk-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Clash Grotesk";
  src: url("./assets/font/ClashGrotesk/ClashGrotesk-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Clash Grotesk", sans-serif;
}

/* custom global styles */
@layer components {
  .container {
    @apply max-w-[1200px] mx-auto px-4 sm:px-6 lg:px-8;
  }
}
